html{
    color: white;
    background: #101010;
    font-family: Arial;
    margin: 0;
}

#result_table{
    margin-left: 400px;
    border: 2px white;
    width: 40%;
    background: black;
    text-align: right;
    background-image: linear-gradient(#1C1C1C,black);
    font-size: 15pt;
    font-weight: bold;
    opacity: 0.8;
    padding: 0.5em 1em;
    color: white;
    text-align: left;
}

.header{
    border-bottom: 2px white;
    padding: 0.2em 1em;
    font-size: 30pt;
    font-weight: bold;
    border-bottom: #3A3A3A;
    border-bottom: 2px solid white;
}
#name{
    text-align: left;
    font-size: 25px;
    margin-left: 2em;
}

#result{
    overflow: scroll;
    height: 400px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20pt;
}

#header{
    background: black;
    color: white;
    text-align: left;
}

#j_idt10-suputton,.super_button{
    font-size: 20pt;
    background: black;
    background-image: linear-gradient(#1C1C1C,black);
    color: white;
    padding: 10pt 20pt;
    border: grey 2pt;
    opacity: 0.8;
}

.super_button:hover{
    background: #1C1C1C;
}

.super_button:active{
    background: rgba(0,0,0,0.28);
    color: white;
    border: white;
}

#christmas{
    font-size: 10px;
}

#j_idt10-suputton:hover{
    background: #1C1C1C;
}

#j_idt10-suputton:active{
    background: rgba(0,0,0,0.28);
    color: white;
    border: white;
}

#time_place{
    width: 40%;
    text-align: left;
    margin-left: 2em;
    font-size: 20px;
}

#enter_place{
    text-align: center;
    margin-left: 1.5em;
}

td#title_place{
    width: 60%;
    font-size: 30px;
    position: center;
    text-align: right;
    margin-right: 20px;
}
#design{
    font-size: 10px;
    text-align: left;
}

p{
    font-size: 15px;
}